- if !logged_in? then
  %h2
    %center.daccess
      You don't have access to this page.
- else 

  - content_for :current_page do
    Account
  %br/
  %article.posts
    %center  
      %p.title
        = link_to 'Edit Username or Password', edit_user_path(session[:current_user_id]), class: "acc_link"
      - if !admin?  
        %p.title   
          = link_to 'Request to be an admin', requests_path, :method => :create, class: "acc_link"  
      %p.title   
        = link_to 'Delete Account', users_path(session[:current_user_id]), :method => :delete, :data => {:confirm => "Are you sure you want to delete your account and all your posts?"}, class: "acc_link delete"