<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>
  <body>

<header>
	<h1>xBlog</h1>
<nav>
    <div class="it"><%= link_to 'Home', welcome_index_path %></div>
    <%= link_to 'Login', welcome_login_path %>
    <%= link_to 'Sign Up', welcome_signup_path %>
    <%= link_to 'Logout', welcome_logout_path %>

</nav>
</header>


<section>
<h2>Home</h2>
</section>


<footer>
barlowat@ORNL.gov 
</footer>

  </body>
</html>