- content_for :current_page do
  Account
%br/
%article.posts
  %center  
    %p.title
      = link_to 'Edit Username or Password', admin_edit_users_path, class: "acc_link" 
    %p.title  
      = link_to 'Delete Account', admin_edit_users_path, class: "acc_link"  
    %p.title   
      = link_to 'Delete Account', admin_edit_users_path, class: "acc_link"    