body {
	background-color: #D1D1D1;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Georgia;
	font-size: 95%;
}

input {
	border: none;
	width: 40%;
	height: 25px;
	font-size: 100%;
	background-color: #333333;
	color: #D1D1D1;
}

input[type="submit"] {
	border: none;
	color: #919191;
	background-color: #333333
}

header {
	width:100%;
	padding:30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #333333;
}

header h1 {
	color: #D1D1D1;
}

nav {
	position: absolute;
	right: 5%;
	top: 45px;
	padding: 0px;
}

header nav a {
text-decoration: none;
color: #919191;
padding: 10px;
}

header nav a:hover {
color: #D1D1D1;
}


section {
	padding: 30px;
	padding-top: 15px;
}

section h2 {
	font-weight: bold;
	color: #720000;
}

footer {
	/* FIX LATER */
	margin-top: 40%;
	/* FIX LATER */

	padding: 30px;
	color: #919191;
	background-color: #333333;
}

