/*
GENERAL CSS
 */

body {
	background-color: #D1D1D1;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Georgia;
	font-size: 100%;
	overflow-x: hidden;
    overflow-y: scroll;
}

input {
	border: none;
	width: 100%;
	height: 30px;
	font-size: 100%;
	background-color: #333333;
	color: #D1D1D1;
	padding: 5px;
}

input[type="submit"] {
	width: 101%;
	border: none;
	height: 40px;
	font-size: 100%;
	background-color: #333333;
	color: #D1D1D1;
	padding: 5px;
}

textarea {
	width: 100.5%;
	height: 300px;
	font-size: 100%;
	border: none;
	color: #D1D1D1;
	background-color: #333333;
}





/*
HEADER AREA
*/

header {
	width:100%;
	padding:30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #333333;
}

header h1 {
	color: #D1D1D1;
}




/*
NAVIGATION
*/

nav {
	position: absolute;
	right: 3%;
	top: 45px;
	padding: 0px;
}

div.it {
	display: inline !important;
}

div.it a {
	color: #D1D1D1 !important;
}

header nav a {
text-decoration: none;
color: #919191;
padding: 10px;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

header nav a:hover {
color: #D1D1D1;
}





/*
CONTENT AREA
*/

section {
	padding: 30px;
	padding-top: 15px;
}

section a {
	text-decoration: none;
	color: #333333;
}

section h2 {
	font-weight: bold;
	color: #720000;
}

article.posts {
	padding-top: 10px;
}

p.title {
	font-weight: bold;
	font-size: 120%;
	background-color: #333333;
	color: #D1D1D1;
	padding: 10px;
}


p.content {

}





/*
FOOTER AREA
*/

footer {
	/* FIX LATER */
	margin-top: 300px;
	/* FIX LATER */

	width: 100%;
	padding: 30px;
	color: #919191;
	background-color: #333333;
}





/*
miscellaneous
*/

.error_msg {
	color: #D1D1D1;
	padding: 15px;
	background-color: #333333;
}

p label {
	font-weight: bold;
}


