/*
GENERAL CSS
 */

body {
	background-color: #D1D1D1;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Georgia;
	font-size: 100%;
	overflow-x: hidden;
    overflow-y: scroll;
}

input {
	border: none;
	width: 100%;
	height: 30px;
	font-size: 100%;
	background-color: #333333;
	color: #D1D1D1;
	padding: 5px;
}

input:hover {
	background-color: #404040;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

input[type="submit"] {
	width: 100.9%;
	height: 40px;
}

textarea {
	width: 100.5%;
	height: 230px;
	font-size: 100%;
	border: none;
	color: #D1D1D1;
	background-color: #333333;
}

a:hover{
	color: #720000;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}








/*
HEADER AREA
*/

header {
	width:100%;
	padding:30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #333333;
}

header h1 a.xBlog {
	color: #D1D1D1;
	text-decoration: none;
}




/*
NAVIGATION
*/

nav {
	position: absolute;
	right: 3%;
	top: 45px;
	padding: 0px;
}

div.it {
	display: inline !important;
}

div.it a, a.it {
	color: #D1D1D1 !important;
}

header nav a {
	text-decoration: none;
	color: #919191;
	padding: 10px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

header nav a:hover {
	color: #D1D1D1;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}





/*
CONTENT AREA
*/

section {
	padding: 30px;
	padding-top: 15px;
	margin-bottom: 18%;
}

section a {
	text-decoration: none;
	color: #333333;
}

section h2 {
	font-weight: bold;
	color: #720000;
}

article.posts {
	padding-top: 10px;
}

p.title {
	font-weight: bold;
	font-size: 120%;
	background-color: #333333;
	color: #D1D1D1;
	padding: 10px;
}

a.dpost {
	color: #919191;
	font-size: 70%;
	position: relative;
	float:right;
	padding-left: 10px;
	padding-right: 10px;
}

a.dall {
	color: #919191;
	font-size: 70%;
	position: relative;
	float:right;
	padding-left: 10px;
	padding-right: 10px;
}

a.user_dpost {
	font-size: 70%;
	color: #720000;
	float:right;
	padding-left: 10px;
	padding-right: 10px;
}

a.pedit {
	color: #919191;
	font-size: 70%;
	float:right;
	padding-left: 10px;
	padding-right: 10px;
}

a.dpost:hover, a.pedit:hover, a.dall:hover {
	text-decoration: none;
	color: #D1D1D1;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

div.code {
	text-align: center;
	padding: 20px;
	color: #720000;
	font-weight: bold;
}

a.account {
	float: right;
	font-size: 70%;
	font-weight: normal;
	padding: 7px;
	padding-right: 20px;
	padding-left: 20px;
}

a.cur_account {
	float: right;
	font-size: 70%;
	font-weight: normal;
	padding: 7px;
	padding-right: 20px;
	padding-left: 20px;
	color: #D1D1D1;
	background-color: #333333;
}

a.cur_account:hover {
	background-color: #404040;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

a.account:hover {
	float: right;
	font-size: 70%;
	font-weight: normal;
	padding: 7px;
	padding-right: 20px;
	padding-left: 20px;
	color: #D1D1D1;
	background-color: #333333;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

a.acc_link {
	color: #919191;
	font-size: 90%
}

a.acc_link:hover {
	color: #D1D1D1;
	font-size: 90%
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

p.title a.delete {
	color: #919191;
	font-size: 90%;
	padding: 10px;

}

p.title a.delete:hover {
	color: #720000;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;

}

p.content {
	font-style: italic;
	padding-left: 15px;
}

.small {
	font-size: 70%;
	color: #919191;
	float: right;
	padding: 3px;
	padding-right: 15px;
	padding-left: 35px;
	padding-bottom: 20px;
}

.utitle {
	padding-left: 15px;
}

p.ucontent {
	font-style: italic;
	padding-left: 15px;
	margin-bottom: 0px;
}

a.request {
	font-size: 100%;
	padding: 7px;
	padding-right: 12%;
	padding-left: 12%;
	color: #D1D1D1;
	background-color: #333333;
}






/*
FOOTER AREA
*/

footer {
	width: 100%;
	padding: 20px;
	color: #919191;
	background-color: #333333;
	position: fixed;
	bottom:0px;
}


/*
miscellaneous
*/

.error_msg {
	color: #D1D1D1;
	padding: 15px;
	background-color: #333333;
}

label {
	font-weight: bold;
}

center.daccess {
	margin-top: 25%;
	margin-bottom: 35%;
}

section h3 center {
	margin-top: 10%;
}
