body {
	background-color: #D1D1D1;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Georgia;
	font-size: 95%;
	overflow-x: hidden;
    overflow-y: scroll;
}

input {
	border: none;
	width: 45%;
	height: 25px;
	font-size: 100%;
	background-color: #333333;
	color: #D1D1D1;
}

input[type="submit"] {
	border: none;
	color: #D1D1D1;
	background-color: #333333
}

header {
	width:100%;
	padding:30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #333333;
}

header h1 {
	color: #D1D1D1;
}

nav {
	position: absolute;
	right: 3%;
	top: 45px;
	padding: 0px;
}

div.it {
	display: inline;
}

div.it a {
	color: #D1D1D1 !important;
}

header nav a {
text-decoration: none;
color: #919191;
padding: 10px;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

header nav a:hover {
color: #D1D1D1;
}

.error_msg {
	color: #D1D1D1;
	padding: 15px;
	background-color: #333333;
}


section {
	padding: 30px;
	padding-top: 15px;
}

section a {
	text-decoration: none;
	color: #333333;
}

section h2 {
	font-weight: bold;
	color: #720000;
}

footer {
	/* FIX LATER */
	margin-top: 40%;
	/* FIX LATER */

	width: 100%;
	padding: 30px;
	color: #919191;
	background-color: #333333;
}

